body {
  font-family: "Poppins", sans-serif;
  background: #f7f7f7;
  margin: 0;
  color: #111;
  background-image: url("../img/vaca.png"); /*esto es para que lo de la vaca salga de fondo*/
  background-size: 400px 400px;
  background-repeat: repeat;
  background-attachment: fixed;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.brand {
  font-weight: 700;
  letter-spacing: 2px;
}

.header-links {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.header-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #000;
  padding: 20px 0;
}

.hero img {
  width: auto;
  height: auto;
  max-width: 150%;
  max-height: 500px;
  object-fit: contain;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 6%;
  color: white;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.hero-text p {
  font-size: 1.2rem;
}

.btn-shop {
  margin-top: 15px;
  background: white;
  border: none;
  padding: 10px 25px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-shop:hover {
  background: #eee;
}

/* READY TO WEAR */
.section-title {
  text-align: center;
  font-weight: 700;
  margin-top: 60px;
  letter-spacing: 1px;
}

.productos {
  padding: 40px 0;
  background: #fff;
}

.card {
  border: none;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card-title {
  font-weight: 500;
  margin-top: 15px;
}

/* CATEGORIES */
.categorias {
  background: #fff;
  padding: 60px 0;
}

.categorias h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.categorias ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.categorias li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}
footer {
  background: #f7f7f7;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
